<!-- <!DOCTYPE html>
<html lang="en"> -->
{% extends 'base.html' %}
{% load static %}

  {% block main %}
<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container hero_cont" data-aos="zoom-in" data-aos-delay="1">
      <h1>Shamsudeen MD Yusuf</h1>
      <!-- <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p> -->
      <div class="social-links">
        <a href="https://twitter.com/lovemdyusuf?s=11&t=tDDg6haY6oh6LDVnvNmt7A" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/yusuf.s.mohammad?mibextid=LQQJ4d" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/shamsudeen-m-d-yusuf-537a582a" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container " data-aos="fade-up">

        <div class="section-title ">
          <h2>About Me</h2>
          <p class="ttb">Shamsudeen MD Yusuf BULAMAN ZAZZAU was born on the 19th day of May, 1983 in Igabi local government area
            of Kaduna state. He attended Sarki nursery school Abakpa Kaduna, then moved to Kaduna Capital School where he obtained
            his first school leaving certificate from 1988 to 1994. Yusuf obtained his Senior Secondary School certificate at
            Uncle Bado Memorial College in 2000.

          </p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'img/img-09.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <!-- <h3>UI/UX Designer &amp; Web Developer.</h3> -->
            <p class="section-title ttb pb-0 mb-0">
              In the year 2005 Bulaman Zazzau graduated from the prestigious Ahmadu Bello University Zaria where he obtained a
              bachelor of science in building and Masters in facility management and his Masters degree in International Affairs and
              Diplomacy (MIAD) from the department of political science and international studies in (year).
              <button onclick="myFunction()" id="hide-btn">Read More</button>
            </p>
            <p class="ttb hide-para" id="hide-para">
              With over 15 years of experience in building and Construction industry, he is known as a goal oriented team leader who is passionate about
              empowering and creating opportunities for young people as part of his commitments to enhancing human capital development
              in Kaduna State.
            </p>
          

           
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

 <!-- ======= Interest Section ======= -->
 <section id="interest" class="facts">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Interest</h2>
      <p>
        It takes great pains to benefit. His needs result from something that actually drives him away. Let them be what they want. Anyone whom anyone desires. And no one who hinders receives the others. Because he should flee in this office of convenience, which is here.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-phone"></i>
          <!-- <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span> -->
          <p>Tech</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <!-- <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span> -->
          <p>Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-person-heart"></i>
          <!-- <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span> -->
          <p>Charity</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-award"></i>
          <!-- <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span> -->
          <p>Awards</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Interest Section -->


   

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  For the target group, the result is worth taking care of until the airline takes over.The accusers, however, need that, and need some discipline.Some faintness, but always a smile.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export time, however, I was for the evils of the evils that I was going to be angry with the effort that I was going to be the one who was the one who was going to be the one who wanted to be.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  For if I did not export a hair from your house, which are great, none of which I would bring to your house for a short time, I would have been my home, or I would have been the smallest                  
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  For I was fleeing from the pain of pain, there is no fault in the export of many.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Who are some of them whom I will read?                  
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Social Media Iframe section ====== -->

    <section>

      <a class="twitter-timeline" 
      data-width="890" 
      data-height="400" 
      href="https://twitter.com/lovemdyusuf?ref_src=twsrc%5Etfw">Tweets by lovemdyusuf</a> 
      
    
      <div class="fb-page" 
      data-href="https://web.facebook.com/yusuf.s.mohammad/" 
      data-tabs="timeline" 
      data-width="" 
      data-height="" 
      data-small-header="true" 
      data-adapt-container-width="true" 
      data-hide-cover="false" 
      data-show-facepile="true"
      data-lazy="true"
      >Face by lovemdyusuf</div>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js"></script> 

      <!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="X6eq3JUJ"></script> -->
      
    </section>

    <!-- =======  End Social Media Iframe section ====== -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <!-- <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div> -->

          <div class="col-lg-12 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <script src="{% static './js/custom.js' %}"></script>

  </main><!-- End #main -->
  {% endblock main %}
<!-- </body>

</html> -->